.product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-item h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.product-item .home_images {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
  /* margin-left: 26px; */
}

.product-item p {
  margin: 5px 0;
}
/* Add these styles to your Home.css or a separate CSS file */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.page-link:focus {
  outline: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
